
.icon-discord:before { content: '\e805'; } /* '' */
.icon-download:before { content: '\f0ed'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
